/*Hero*/

.hero {
  background-color: $background-color;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: $primary-color;
  @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $primary-color;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primary-color;
    background-color: rgba(41, 203, 255, 0.6);
  }
}