/*ideology*/
@media screen and (min-width: 1200px){
  .ideology {
      padding-bottom: 0px;
    }
}


.ideology__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.ideology__subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $secondary-color;
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    text-align: inherit;
  }
}
.ideology__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px -15px 0px -15px;
   }
     @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      margin: 0px;
     }
}



.ideology__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
      margin: 15px 15px 0px 15px;
      &:nth-child(2n+1) {
        margin-bottom: 15px;
      }
    }
        @media screen and (min-width: 1200px) {
          width: 270px;
        }

  @media screen and (max-width: 767px){
    &:not(:last-child) {
        margin-bottom: 30px;
      }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
        margin-right: 30px;
      }
  }



}




.ideology__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $contrast-color;
  margin-bottom: 0;
  width: 100%;
  margin-right: 30px;
}

.ideology__container {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}