/*Header*/

.header {
  background-color: $primary-color;
  border-bottom: 1px solid #ececec;

}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-toggle {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.site-nav__list {
  padding: 0;
  margin-left: 93px;
  display: flex;
  @media (max-width: 767px) {
    display: none;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $secondary-color;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--current {
  color: $accent-color;

  &::after {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    content: "";
    border-radius: 2px;
    left: 0px;
    bottom: 0px;
  }
}



.contact-list {
  margin-left: auto;
  display: flex;
  @media (max-width: 767px) {
      display: none;
    }
}


.contact-list__item+.item {
  margin-left: 50px;
}

.contact-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $contrast-color;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

