/*work*/

.work {
  @media (max-width: 1199px) {
    display: none;
  }
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-color;
  margin-bottom: 50px;
}

.work__thumb {
  position: relative;
}

.work__overlay {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  ;
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-color;
  text-align: center;
  padding-top: 27px;
}

