$primary-color: #ffffff;
$secondary-color: #212121;
$contrast-color: #757575;
$accent-color: #2196f3;
$background-color: #2f303a;
$second-background-color: #f5f4fa;
$p-color: #afb1b8;
$section-list-gap: 30px;